<div class="center hero-unit">
  <h1>Welcome to Filmwin!</h1>

  <h2>Because the internet can be better at award shows</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
