<% provide(:title, 'Admin') %>
<h1>Admin</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ul>
      <% @events.each do |e| %>
      <li><%= link_to e.name, admin_events_path(e) %></li>
      <% end %>
    </ul>
  </div>
</div>