<% provide(:title, 'New Event') %>
<h1>Create an Event</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@event) do |e| %>
      <%= render 'fields', e: e %>
      <%= e.hidden_field 'user', value: @current_user.id %>
      <%= e.submit "Create event", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
