@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-purple: #b8b4bb;
$gray-orange: #cebfb2;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  // padding-top: 10px;
  font-family: 'adelle-sans', sans-serif;

  background-color: mix($gray-purple, $gray-orange);
  background: image-url('bird.png') no-repeat left bottom,
              -webkit-gradient(linear, left top, right bottom, from($gray-purple), to($gray-orange));
  background: image-url('bird.png') no-repeat left bottom,
              -webkit-linear-gradient(left top, $gray-purple, $gray-orange);
  background: image-url('bird.png') no-repeat left bottom,
              linear-gradient(to right bottom, $gray-purple, $gray-orange);
  background-size: 33.33% auto, auto auto;
  background-attachment: fixed;
}

.navbar-static-top {
  margin-bottom: 19px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6,
.alpha, .beta, .gamma, .delta, .epsilon, .zeta {
  padding: 0;
  border: 0;
  margin: 20px 0;

  color: #fff;
  letter-spacing: 0;
  line-height: 1;
  text-align: left;
  text-transform: none;
}

h1,
.alpha {
  margin-bottom: 30px;

  font: 700 3em/1 'kepler-std-display', serif;
  letter-spacing: -2px;
  text-align: center;
}

h2,
.beta {
  padding-left: 10px;
  border-left: 1px solid white;
  margin: 60px 0 30px;

  font: 400 italic 1.5em/1 'kepler-std-display', serif;
  text-transform: uppercase;
}

h3,
.gamma {
  font: 700 2.5em/1.25 'kepler-std-display', serif;
}

h4,
.delta {
  font: 700 1em/1 'adelle-sans', sans-serif;
  text-transform: uppercase;
}

p {
  // font-size: 1.1em;
  line-height: 1.8571;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.user-heading {
  float: left;

  h1 {
    float: left;

    margin-top: 0;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input[type=text],
input[type=password] {
  @extend .form-control;
}

input.btn {
  width: auto;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}

/* User Page */

.sidebar-heading {
  margin-top: 25px;
  margin-bottom: 20px;
  line-height: 1.25;

  a {
    color: #fff;

    &:hover {
      color: #428bca;
      text-decoration: none;
    }
  }

  @media (max-width: 991px) {
    padding: 0 0 16px 0;
    border-left: 0;
    border-bottom: 4px solid #fff;
    margin-bottom: 30px;

    font-size: 2em;
  }
}

.event-submission-list {
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.event-submission {

  h3 {
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;

    a {
      color: rgb(51, 51, 51);
      font-size: 16px;

      &:hover {
        color: #428bca;
        text-decoration: none;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }
}

/* Nav */

.navbar-static-top {
  border-bottom: 0;
  margin-bottom: 19px;

  background-color: #fff;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
}

.dropdown-menu {
  border: 0;
}

/* jumbotron custom styles */
.jumbotron {
  background-color: $gray-lighter;

  color: rgb(51, 51, 51);
  text-align: center;

  &.wave-bg {
    margin: 50px 0;

    background: image-url('event_bg.jpg') no-repeat center center;
    background-size: cover;

    color: #fff;
  }
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.event-detail {
  margin-bottom: 30px;

  h3,
  h4 {
    text-align: center;
  }
}

.progress {
  max-width: 600px;
  margin:    15px 0 15px 0;
  background-color: $gray;  
}

.progress .bar {
  height:  1.2em;
  padding: 0.2em;
  color:   white;
  display: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 200px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* catgories */

.description {
  padding: 12px 0 16px;
  border-top: 4px solid white;
  border-bottom: 2px solid white;
  margin: 1em 0;

  font: italic 1.25em/1.5 'adelle-sans', sans-serif;
  color: #fff;
}

.category-list {
  padding-left: 0;
  margin: 1.5em 0;

  list-style: none;

  li {
    margin-bottom: 1.25em;
  }
}


.padding-top {
  padding-top: $padding-base-vertical;
}

.padding-bottom {
  padding-bottom: $padding-base-vertical;
}